[Desktop Entry]
Encoding=UTF-8
Name=Test6
Comment=This is fake app #6.
Type=Application
Exec=sh /This/is/how/I/execute/test6.exe
Icon=Test6
Categories=
